<ion-tabs>

  <ion-tab-bar slot="bottom,top">

    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="homeworks">
      <ion-icon name="checkbox"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="grades">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="timetable">
      <ion-icon name="calendar"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="subjects">
      <ion-icon name="file-tray"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
