div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    width: 300px;
    text-align: center;
}

ion-img {
    width: 300px;
}

h1 {
    width: 300px;
    text-align: center !important
}

.link span :nth-child(1){
    
}