<ion-header>
  <ion-toolbar>
    <ion-title>Coming Soon</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-text-center ion-padding">

  <div class="container">
    <img src="../../assets/logo/logo.png" alt="" class="logo">

    <h1>Coming Soon!</h1>
    <p class="ion-margin">Diese App ist momentan noch in der Entwicklung und Sie besitzen nur einen Testversion. Ich freue mich über jedes Feed-Back das ich bekomme, damit ich die App weiterhin verbessern kann.</p>
  </div>

    
  

</ion-content>
