<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Passwort vergessen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="sendPasswordReset()">
     <!-- Eingabefeld für die E-Mail -->
     <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="E-Mail" formControlName="email"></ion-input>
    </ion-item>

    <ion-list *ngIf="(email.dirty || email.touched) && email.errors" class="ion-margin-bottom">
      <ion-item *ngIf="(email.dirty || email.touched) && email.errors" style="color: #ff4961;">
        <ion-icon name="close-circle-outline" slot="start" style="color: #ff4961;"></ion-icon>
        <ion-label>E-Mail ist nicht Korrekt!</ion-label>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" fill="solid" shape="round" id="openCredentialsModal" [disabled]="!credentials.valid  ">
      Reset Link senden
    </ion-button>
  </form>

</ion-content>
