<ion-card class="">

  <div class="buttonContainer ion-padding">
    <ion-button (click)="openAddSubjectModal()">
      <ion-icon name="file-tray" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-label style="margin-top: 10px;" color="primary">Neues Fach</ion-label>
  </div>
  
  <div class="buttonContainer ion-padding">
    <ion-button (click)="openAddHomeworkModal()">
      <ion-icon name="checkbox" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-label style="margin-top: 10px;" color="primary">Neue Hausaufgabe</ion-label>
  </div>

  <div class="buttonContainer ion-padding">
    <ion-button (click)="openAddGradeModal()">
      <ion-icon name="add-circle" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-label style="margin-top: 10px;" color="primary">Neue Note</ion-label>
  </div>
</ion-card>